@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #050505;
    --foreground: #ffffff;
    --accent: #A855F7;
  }

  .light {
    --background: #ffffff;
    --foreground: #09090b;
    --accent: #3B82F6;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    overflow-x: hidden;
  }
}

/* Force hide system cursor on all elements for desktop */
@media (min-width: 768px) {
  html, body, a, button, * {
    cursor: none !important;
  }
}

html {
  scroll-behavior: smooth;
}
