import type { Config } from "tailwindcss";

const config: Config = {
  content: [
    "./src/**/*.{js,ts,jsx,tsx,mdx}",
  ],
  theme: {
    extend: {
      fontFamily: {
        // This maps your CSS variables to Tailwind classes
        display: ["var(--font-display)", "sans-serif"],
        interface: ["var(--font-interface)", "monospace"],
        body: ["var(--font-body)", "sans-serif"],
        accent: ["var(--font-accent)", "sans-serif"], // Space Grotesk
        cursive: ["Playwrite NZ", "cursive"],
      },
      letterSpacing: {
        tighter: "-0.05em",
        tightest: "-0.07em", // For the Syne display font
        widest: "0.5em", // For technical HUD text
      },
      animation: {
        'shimmer-fast': 'shimmer 2s linear infinite',
      },
      keyframes: {
        shimmer: {
          '0%': { backgroundPosition: '200% center' },
          '100%': { backgroundPosition: '-200% center' },
        }
      }
    },
  },
  plugins: [],
};
export default config;
